body{
    height: 90vh;
    margin: 0;
    background: #c8f8ff;
}
.content{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    margin-top: 2em;

}
.logo{
    max-height: 50%;
    animation: hover 2.5s infinite ease;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}
.main-button, .button{
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.2);
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
.main-button{
    background: #007cab;
    color: white;
}
.button{
    background: ghostwhite;
}
@keyframes hover {
    0%, 100%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(0px, 0.1em);
    }
}
