
.content{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    margin-top: 2em;

}
.logo{
    max-height: 50%;
    animation: hover 3.5s infinite ease-in-out;
}
@keyframes hover {
    0%, 100%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(0px, 0.5em);
    }
}
