<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style/main.css"/>
        <link rel="stylesheet" href="style/index.css"/>
        <title>
            Welcome Page
        </title>
    </head>
    <body>
    <div class="content">
        <img class="logo" src="svg/Logo.svg" alt="The website's logo"/>
        <div class="buttons">
            <a class="main-button" href="/brackets/new">Create New Bracket</a>
            <a class="button" href="/about">About</a>
        </div>
    </div>
    </body>
</html>
